<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cookbook</a>
            <!-- Toggler button only visible on small screens -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="d-none d-lg-block bg-light position-fixed vh-100 sidebar">
        <div class="sidebar-content">
            <h5 class="mb-3">Menu</h5>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/dishes/all}">All Dishes</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/dishes/create-dish}">Create Dish</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/ingredients}">Ingredients</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Cookbook</a></li>
            </ul>
        </div>
    </div>


    <!-- Offcanvas sidebar for small screens -->
    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dishes/all}">All Dishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/add-dish}">Add Dish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ingredients}">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About Cookbook</a>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
