@media (min-width: 992px) {
    .content-with-sidebar {
        margin-left: 250px;
    }
}
.card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.navbar {
    z-index: 1050;
}
.sidebar {
    width: 250px;
    top: 0;
    z-index: 1030;
}
.sidebar-content {
    padding-top: 70px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sidebar h5 {
    font-size: 1.8rem;
    font-weight: bold;
}
.sidebar .nav-link {
    font-size: 0.95rem;
}